<div class="card restaurant-card mb-3 shadow-sm">
  <%= image_tag restaurant_photo_path(restaurant),
                class: "card-img-top restaurant-card-img" %>

  <div class="card-body bg-light">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h5 class="restaurant-card-title mb-0">
        <%= link_to restaurant.name,
                    restaurant_path(restaurant, locale: I18n.locale),
                    class: "text-decoration-none text-dark" %>
      </h5>

      <div>
        <%= restaurant_rating_with_star(restaurant) %>
      </div>
    </div>

    <div class="restaurant-card-meta mb-1">
      <% if restaurant.delivery_time_label.present? %>
        <span><%= restaurant.delivery_time_label %></span>
      <% end %>
      <% if restaurant.delivery_time_label.present? && restaurant.delivery_price_label.present? %>
        <span> • </span>
      <% end %>
      <% if restaurant.delivery_price_label.present? %>
        <span><%= restaurant.delivery_price_label %></span>
      <% end %>
    </div>

    <div class="restaurant-card-categories">
      <%= restaurant_categories_labels(restaurant) %>
    </div>
  </div>
</div>
